.bag{
    
}


.cart-container {
    /* margin-top:10rem; */
    padding: 20px;
}

.cart-container h1 {
    padding-top: 10rem;
    font-size: 60px;
    padding-left: 11rem;
    /* text-align: center; */
}

.cart-container p {
    padding-top: 5rem;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

.bagHead{
    display: flex;
}

.bagHead hr {
    width: 35%;
    margin-top: 13rem;
    margin-left: 30rem;
}

.product-link {
    margin-left: 41rem;
    border: 1px solid;
    border-radius: 5px;
    width: 190px;
}

.product-link button{
    font-weight: 400;
    display: ruby;
}

.product-link button:hover{
    background-color: beige;
}
.cart-items {
    padding-top: 2rem;
    padding-left: 11rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-item img {
    width: 200px;
    height: 200px;
}

.cart-items h5 {
    font-size: 20px;
}

.cart-items p {
    padding-top: 0;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}

.cart-items r{
    font-size: 16px;
    font-weight: 400;
}

.qty button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 22px;
}

.order-summary{
 border: 1px solid;
 width: 30%;;
margin-top: 2rem;
margin-left: 11rem;
}

.order-summary h2{
    text-align: center;
}

.order-summary hr{
    border: 1px solid;
}

.order-summary p{
    padding-top: 0;
    padding: 1rem;
}

.order-summary button{
    color: white;
    font-size: 20px;
    border: 0px solid;
    width: 100%;
    background-color: rgb(48, 237, 57);
}

@media (max-width: 768px) {
    .cart-container h1 {
      padding-left: 0;
      padding-top: 3rem;
      text-align: center;
      font-size: 55px;
    }

    .bagHead hr {
      margin-left: 6rem;
      margin-top: 6.5rem;
      width: 80%;
    }
  
    .cart-content {
      flex-direction: column;
      align-items: center;
    }
  
    .cart-items {
      width: 100%;
    }
  
    .order-summary {
      width: 100%;
      margin-top: 20px;
    }
  }