.ProductBtn {
    margin-top: 1rem;
    margin-left: 0rem;
    display: flex;
    gap: 1rem;
}

.ProductBtn button {
    display: inline-flex;
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
}

.ProductBtn button:hover{
    background: rgba(234, 207, 207, 0.7);
}

.featured h1 {
    margin-bottom: 0.2rem;
    font-size: 18px;
}

.product {
    display: flex;
}

.product h1 {
    font-size: 65px;
}

.sort-selection{
    padding-left: 0rem;
    margin-left: 16.5rem;
    height: 40px;
    text-align: center;
}

.divider {
    margin-top: 3.5rem;
    margin-left: 10rem;
    color: black;
    border: 1px solid;
    width: 33%;
}

.products-grid {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.2rem;
}


.card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 16px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    filter: drop-shadow(1px 1px 20px rgb(90, 59, 59));
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

/* .card-img{
       filter: drop-shadow(1px 1px 20px rgb(90, 59, 59));
} */

.card img {
    width: 90%;
    height: 280px;
    /* object-fit: cover; */
 
}


.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    /* font-weight: bold; */
    margin-bottom: 0px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}
.btns{
    display: flex;
    gap: 5px;
    font-size: 12px;
}

.cart-btn{
    background-color: #e59d0c;
    color: #fff;
    padding: 5px 5px;
    border: 2px solid; 
    border-radius: 8px;  
}
.buy-btn{
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    border: 2px solid;
    border-radius: 8px;
}

.cart-link button{
    display: ruby;
    padding: 3px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid;
    border-radius: 5px;
}

.cart-link button:hover{
    background-color: beige;
}

/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  @media (max-width: 1200px){
    .sort-selection{
        margin-top: 0.5rem;
        margin-left: 0;
        text-align: center;
        font-size: 14px;
        width: 100px;
    }
  }

  @media (max-width: 900px){
    .homeMain{
        padding-left: 0;
        margin-left: 6rem;
        margin-top: 2rem;
    }

    .ProductBtn {
        margin-top: 1rem;
        margin-left: 0rem;
        display: flex;
        gap: 3rem;
    }
    
    .ProductBtn button {
        /* display: flex; */
        max-width:100%;
        height: 60%;
        padding: 10px;
        /* margin-right: 2rem; */
        margin-left: 0.5rem;
        border: 1px solid;
        border-radius: 4px;
    }

    .products-grid {
        margin-top: 2rem;
        margin-bottom: 4rem;
        padding-left: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        width: calc(30% - 16px);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .card img{
        height: 200px;
    }

    .sort-selection{
        margin-top: 0.5rem;
        margin-left: 0;
        text-align: center;
        font-size: 14px;
        width: 100px;
    }

  }

  @media (max-width: 500px){
    .homeMain{
        padding-left: 0;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .ProductBtn {
        margin-top: 1rem;
        margin-left: 0rem;
        display: inline;
        gap: 2rem;
    }
    
    .ProductBtn button {
        /* display: flex; */
        /* max-width:100%; */
        /* height: 60%; */
        padding: 2px;
        /* margin-right: 2rem; */
        margin-left: 0rem;
        border: 1px solid;
        border-radius: 2px;
        font-size: 14px;
        
    }

    .sort-selection{
        margin-top: 0.5rem;
        margin-left: 0;
        text-align: center;
        font-size: 14px;
        width: 100px;
    }

    .products-grid {
        margin-top: 2rem;
        margin-bottom: 4rem;
        padding-left: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        width: calc(50% - 16px);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card img{
        width: 100%;
        height: 200px;
    }

    .btns{
        display: flex;
        gap: 5px;
        font-size: 12px;
    }

    .cart-btn{
        background-color: #e59d0c;
        color: #fff;
        padding: 5px 5px;
        border: 2px solid; 
        border-radius: 8px;  
    }

    .buy-btn{
        background-color: #333;
        color: #fff;
        padding: 5px 5px;
        border: 2px solid;
    }
  }