h3{
    padding-top: 11rem;
    padding-left: 13rem;
    font-size: 65px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.aboutDesc{
    margin-left: 7rem;
    padding-left: 6rem;
}

.aboutDesc h1{
    padding-top: 1rem;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutDesc h2{
    width: 40%;
    /* font-family: light, sans-serif; */
    font-weight: 100;
}

.aboutDesc img{
    height: 400px;
    width: 500px;
}

.descImg {
    display: flex;
}

.aboutFooter{
    padding-top: 12rem;
    width: 100%;
    height: 100px;
    bottom: 0;
    left:0;

}
.aboutHead{
    display: flex;
}

.aboutHead hr{
    width: 33%;
}

.aboutDivider {
    margin-top: 14.2rem;
    margin-left: 21rem;
    color: black;
    border: 1px solid;
    width: 40%;
}


.footCont{
    margin-top: 8rem;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
}
.footCont li{
    display: flex;
}

.aboutSecond{
    padding-left: 8rem;
}

h2{
    font-size: 20px;
    margin-bottom:1rem;
}
.aboutSecond{
    padding-right: 8rem;
    padding-bottom: 5px;
}

.aboutThird{
    padding-right: 8rem;
}

.abFacebook{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aboutMap {
    flex: 1;
    min-width: 300px;
    margin-top: 20px;
    width: 100%;
}