/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap"); */

.header{
    /* position: fixed; */
    z-index: 1;
    margin-top: 1.2rem;
    margin-left: 12.7rem;
    z-index:10;
}

.columnOne{
    /* margin:2rem 15rem; */
    margin-left: 2rem;
    margin-bottom: 0cap;
    display: flex;
    font-size: 13px;
    font-family:sans-serif;
}

.social{
    display: flex;
}

.mail{
    display: flex;
    margin-left:2rem;
}

.mail a{
    margin-left: 0.4rem;
}

.mailIcon{
    margin-top: 0.3rem;
}

.social-media{
    font-size: 14px;
    margin-left: 5rem;
    padding-left: 30rem;
    display: flex;
    margin-top: 0.2rem;
}

.facebook{
    margin-right: 1rem;
}

@media (max-width: 900px){
    .header{
        /* position: fixed; */
        margin-top: 1.2rem;
        margin-left: 4rem;
        z-index:10;
    }

    .slogan{
        font-size: 12px;
        padding-right: 7rem;
        width: 60%;
    }

    .social-media{
        font-size: 14px;
        margin-left: 7rem;
        padding-left: 5rem;
    }
}

@media (max-width: 500px){
    .header{
        /* position: fixed; */
        margin-top: 1.2rem;
        margin-left: 0rem;
        z-index:10;
    }

    .slogan{
        font-size: 12px;
        padding-right: 1rem;
        width: 60%;
    }

    .social-media{
        font-size: 14px;
        margin-left: 1rem;
        padding-left: 0rem;
        /* display: flex; */
        /* margin-top: 2rem; */
    }
}